# Logs

logs

*.log

npm-debug.log*

yarn-debug.log*

yarn-error.log*

pnpm-debug.log*

lerna-debug.log*



node_modules

dist

dist-ssr

*.local



# Editor directories and files

.vscode/*

!.vscode/extensions.json

.idea

.DS_Store

*.suo

*.ntvs*

*.njsproj

*.sln

*.sw?



# Imágenes del proyecto

src/assets/**/*.jpg

src/assets/**/*.jpeg

src/assets/**/*.png

src/assets/**/*.webp

src/assets/**/*.svg



# Excepción: mantener SVGs base si quieres

!src/assets/react.svg

!src/assets/vite.svg



.claude
CLAUDE.md